.headlinesection {
  position: absolute;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100vw;
  height: 500vh;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.rotatosection {
  position: relative;
  z-index: -100;
  display: block;
  width: 100%;
  height: 9500px;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-flex-wrap: nowrap;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start;
  background-color: #fff;
}

.sitesection {
  display: block;
  padding-top: 186px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  background-color: #fff;
}

.topheading {
  max-width: 460px;
  margin-top: 50%;
  color: #000;
  font-size: 70px;
  line-height: 70px;
  text-align: left;
  letter-spacing: -3px;
}

.topheading.first {
  max-width: 700px;
  margin-top: 33vh;
  color: #000;
  font-size: 120px;
  line-height: 120px;
  text-align: center;
  letter-spacing: -6px;
}

.toptext {
  color: rgba(0, 0, 0, 0.51);
}

.topbuttons {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  overflow: visible;
  margin-top: 12px;
}

.topbutton {
  margin-right: 10px;
  margin-left: 10px;
  border-radius: 20px;
}

.stickydiv {
  position: -webkit-sticky;
  position: sticky;
  top: 0px;
  bottom: 0px;
  z-index: -99;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-align-self: center;
  -ms-flex-item-align: center;
  align-self: center;
  -webkit-box-flex: 0;
  -webkit-flex: 0 auto;
  -ms-flex: 0 auto;
  flex: 0 auto;
  background-color: #fff;
  -o-object-fit: cover;
  object-fit: cover;
}

.siteheading {
  font-size: 90px;
  line-height: 90px;
  text-align: center;
}

.siteheading.h2 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  font-size: 60px;
  line-height: 60px;
}

.lottie-animation {
  overflow: hidden;
  width: 100%;
  height: 100%;
}

.container {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.container.sidebyside {
  display: block;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-flex-wrap: nowrap;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  -webkit-box-align: stretch;
  -webkit-align-items: stretch;
  -ms-flex-align: stretch;
  align-items: stretch;
  -webkit-box-flex: 0;
  -webkit-flex: 0 auto;
  -ms-flex: 0 auto;
  flex: 0 auto;
}

.footer {
  margin-top: 75px;
  padding-top: 60px;
  padding-bottom: 40px;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start;
  background-color: #f5f5f5;
  text-align: center;
}

.footer-flex-container {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 40px;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  text-align: left;
}

.footer-logo-link {
  max-height: 60px;
  min-width: 60px;
  -webkit-box-flex: 0;
  -webkit-flex: 0 auto;
  -ms-flex: 0 auto;
  flex: 0 auto;
}

.footer-image {
  -o-object-fit: contain;
  object-fit: contain;
  -o-object-position: 0% 50%;
  object-position: 0% 50%;
}

.footer-heading {
  margin-top: 0px;
  margin-bottom: 20px;
  font-size: 14px;
  line-height: 1.5;
}

.footer-link {
  display: block;
  margin-bottom: 10px;
  color: #444;
  text-decoration: none;
}

.footer-link:hover {
  text-decoration: underline;
}

.container-2 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start;
}

.howto {
  padding-left: 0px;
  color: #797979;
  font-size: 20px;
  line-height: 28px;
  font-weight: 700;
}

.heading {
  max-width: 322px;
  margin-right: 59px;
}

.heading.instructions {
  margin-top: 0px;
}

.text-block {
  margin-top: 36px;
  padding: 20px;
  background-color: rgba(0, 0, 0, 0.08);
  font-family: Inconsolata, monospace;
}

.howtocolumn {
  margin-top: 36px;
}

.floatingsection {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-top: 25vh;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.floatingsection.float2 {
  position: relative;
  z-index: 101;
  min-height: 1500px;
  margin-top: 100vh;
  margin-right: 31%;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.floatingsection.first {
  margin-top: auto;
}

.floattext {
  max-width: 500px;
  min-width: 500px;
  color: #8e8e8e;
  text-align: left;
}

.image {
  display: block;
  width: 1000px;
  margin-right: auto;
  margin-left: auto;
}

.image-2 {
  margin-left: -19px;
}

.text-block-3 {
  max-width: 322px;
}

.bignumber {
  margin-top: auto;
  margin-bottom: auto;
  -webkit-align-self: center;
  -ms-flex-item-align: center;
  -ms-grid-row-align: center;
  align-self: center;
  -webkit-box-flex: 0;
  -webkit-flex: 0 auto;
  -ms-flex: 0 auto;
  flex: 0 auto;
  border-radius: 20px;
  color: #fff;
  font-size: 5ch;
  line-height: 100%;
  text-align: center;
}

.bignumbercontainer {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 50px;
  height: 50px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-flex-wrap: nowrap;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  border-radius: 200px;
  background-color: #000;
}

.quickstart {
  margin-bottom: 16px;
}

.heading-2 {
  position: static;
}

.heading-3 {
  position: -webkit-sticky;
  position: sticky;
  top: 50%;
}

.text-block-4 {
  padding-right: 566px;
}

.sticky-explainer {
  position: -webkit-sticky;
  position: sticky;
  top: 0px;
}

.floatingsection-ex2 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-top: 25vh;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.floatingsection-ex2.float2 {
  position: relative;
  z-index: 101;
  width: 50%;
  height: 200vh;
  margin-top: 667px;
  margin-right: auto;
  margin-left: auto;
  padding-right: 20px;
  padding-left: 20px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start;
}

.floatingsection-ex2.float2-ex2 {
  position: relative;
  z-index: 101;
  width: 50%;
  height: 200vh;
  margin-top: 667px;
  margin-right: auto;
  margin-left: auto;
  padding-right: 20px;
  padding-left: 20px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start;
}

.headlinesection-copy {
  position: absolute;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100vw;
  height: 500vh;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.canvascontainer {
  position: absolute;
  left: 0%;
  top: auto;
  right: 0%;
  bottom: auto;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: 100vh;
  margin-right: auto;
  margin-left: auto;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-align-self: center;
  -ms-flex-item-align: center;
  align-self: center;
  background-color: #fff;
}

.section {
  background-color: transparent;
}

.div-block {
  position: static;
  left: 0%;
  top: auto;
  right: 0%;
  bottom: 0%;
  z-index: -10;
  width: 100%;
  height: 80px;
  margin-top: -62px;
  background-color: #fff;
}

.navbar {
  position: -webkit-sticky;
  position: sticky;
  top: 0px;
  width: 100%;
  background-color: #fff;
}

.container-3 {
  display: block;
}

.image-3 {
  display: block;
  margin-top: auto;
  margin-bottom: auto;
}

.brand {
  display: inline-block;
  margin-top: 12px;
  margin-bottom: auto;
}

.app {
  margin-top: 178px;
}

@media screen and (max-width: 991px) {
  .lottie-animation {
    height: 500px;
  }

  .footer {
    padding-right: 20px;
    padding-left: 20px;
  }
}

@media screen and (max-width: 767px) {
  .headlinesection {
    padding-right: 20px;
    padding-left: 20px;
  }

  .rotatosection {
    height: 9100px;
  }

  .topheading {
    margin-top: 23%;
  }

  .topheading.first {
    font-size: 50px;
    line-height: 50px;
    letter-spacing: 0px;
  }

  .lottie-animation {
    width: 200%;
    height: 1000px;
  }

  .container {
    padding-right: 20px;
    padding-left: 20px;
  }

  .container.sidebyside {
    padding-right: 21px;
    padding-left: 20px;
  }

  .footer {
    padding: 40px 20px;
  }

  .footer-image {
    -o-object-fit: contain;
    object-fit: contain;
  }

  .container-2 {
    padding-right: 20px;
    padding-left: 20px;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-pack: start;
    -webkit-justify-content: flex-start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    -webkit-flex-wrap: nowrap;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
  }

  .howto {
    margin-left: -39px;
  }

  .heading {
    max-width: 254px;
  }

  .column {
    padding-right: 0px;
    padding-left: 0px;
  }

  .howtocolumn {
    padding-right: 0px;
    padding-left: 0px;
  }

  .column-3 {
    padding-right: 0px;
    padding-left: 0px;
  }

  .column-4 {
    padding-right: 0px;
    padding-left: 0px;
  }

  .column-5 {
    padding-right: 0px;
    padding-left: 0px;
  }

  .column-6 {
    padding-right: 0px;
    padding-left: 0px;
  }

  .floatingsection.float2 {
    margin-right: 0%;
  }

  .floatingsection-ex2.float2 {
    width: 90%;
  }

  .floatingsection-ex2.float2-ex2 {
    width: 90%;
  }

  .headlinesection-copy {
    padding-right: 20px;
    padding-left: 20px;
  }
}

@media screen and (max-width: 479px) {
  .sitesection {
    margin-right: 19px;
    margin-left: 19px;
  }

  .topheading {
    margin-top: 44%;
    font-size: 50px;
    line-height: 50px;
  }

  .topheading.first {
    margin-top: 22vh;
  }

  .toptext {
    margin-right: 23px;
    margin-left: 23px;
  }

  .stickydiv {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
  }

  .container {
    padding-right: 0px;
    padding-left: 0px;
  }

  .container.sidebyside {
    padding-right: 0px;
    padding-left: 0px;
  }

  .footer {
    padding-right: 20px;
    padding-left: 20px;
    text-align: left;
  }

  .footer-flex-container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
  }

  .footer-logo-link {
    height: 60px;
  }

  .footer-heading {
    margin-top: 20px;
  }

  .container-2 {
    padding-right: 0px;
    padding-left: 0px;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
  }

  .howto {
    margin-left: 0px;
  }

  .heading {
    margin-right: 0px;
  }

  .text-block {
    overflow: auto;
  }

  .column {
    padding-left: 0px;
  }

  .text-block-2 {
    padding-left: 0px;
  }

  .columns {
    overflow: visible;
  }

  .howtocolumn {
    margin-top: 53px;
    padding-left: 0px;
  }

  .column-3 {
    padding-right: 0px;
    padding-left: 0px;
  }

  .column-4 {
    padding-right: 0px;
    padding-left: 0px;
  }

  .floatingsection.float2 {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
    min-height: 1500px;
  }

  .link-block {
    margin-top: 16px;
  }

  .sticky-explainer {
    width: 100%;
  }
}