$icomoon-font-family: "gouldwallet" !default;
$icomoon-font-path: "fonts" !default;

$gould-gouldWallet: "\e900";
$gould-home: "\e901";
$gould-home2: "\e902";
$gould-home3: "\e903";
$gould-office: "\e904";
$gould-newspaper: "\e905";
$gould-pencil: "\e906";
$gould-pencil2: "\e907";
$gould-quill: "\e908";
$gould-pen: "\e909";
$gould-blog: "\e90a";
$gould-eyedropper: "\e90b";
$gould-droplet: "\e90c";
$gould-paint-format: "\e90d";
$gould-image: "\e90e";
$gould-images: "\e90f";
$gould-camera: "\e910";
$gould-headphones: "\e911";
$gould-music: "\e912";
$gould-play: "\e913";
$gould-film: "\e914";
$gould-video-camera: "\e915";
$gould-dice: "\e916";
$gould-pacman: "\e917";
$gould-spades: "\e918";
$gould-clubs: "\e919";
$gould-diamonds: "\e91a";
$gould-bullhorn: "\e91b";
$gould-connection: "\e91c";
$gould-podcast: "\e91d";
$gould-feed: "\e91e";
$gould-mic: "\e91f";
$gould-book: "\e920";
$gould-books: "\e921";
$gould-library: "\e922";
$gould-file-text: "\e923";
$gould-profile: "\e924";
$gould-file-empty: "\e925";
$gould-files-empty: "\e926";
$gould-file-text2: "\e927";
$gould-file-picture: "\e928";
$gould-file-music: "\e929";
$gould-file-play: "\e92a";
$gould-file-video: "\e92b";
$gould-file-zip: "\e92c";
$gould-copy: "\e92d";
$gould-paste: "\e92e";
$gould-stack: "\e92f";
$gould-folder: "\e930";
$gould-folder-open: "\e931";
$gould-folder-plus: "\e932";
$gould-folder-minus: "\e933";
$gould-folder-download: "\e934";
$gould-folder-upload: "\e935";
$gould-price-tag: "\e936";
$gould-price-tags: "\e937";
$gould-barcode: "\e938";
$gould-qrcode: "\e939";
$gould-ticket: "\e93a";
$gould-cart: "\e93b";
$gould-coin-dollar: "\e93c";
$gould-coin-euro: "\e93d";
$gould-coin-pound: "\e93e";
$gould-coin-yen: "\e93f";
$gould-credit-card: "\e940";
$gould-calculator: "\e941";
$gould-lifebuoy: "\e942";
$gould-phone: "\e943";
$gould-phone-hang-up: "\e944";
$gould-address-book: "\e945";
$gould-envelop: "\e946";
$gould-pushpin: "\e947";
$gould-location: "\e948";
$gould-location2: "\e949";
$gould-compass: "\e94a";
$gould-compass2: "\e94b";
$gould-map: "\e94c";
$gould-map2: "\e94d";
$gould-history: "\e94e";
$gould-clock: "\e94f";
$gould-clock2: "\e950";
$gould-alarm: "\e951";
$gould-bell: "\e952";
$gould-stopwatch: "\e953";
$gould-calendar: "\e954";
$gould-printer: "\e955";
$gould-keyboard: "\e956";
$gould-display: "\e957";
$gould-laptop: "\e958";
$gould-mobile: "\e959";
$gould-mobile2: "\e95a";
$gould-tablet: "\e95b";
$gould-tv: "\e95c";
$gould-drawer: "\e95d";
$gould-drawer2: "\e95e";
$gould-box-add: "\e95f";
$gould-box-remove: "\e960";
$gould-download: "\e961";
$gould-upload: "\e962";
$gould-floppy-disk: "\e963";
$gould-drive: "\e964";
$gould-database: "\e965";
$gould-undo: "\e966";
$gould-redo: "\e967";
$gould-undo2: "\e968";
$gould-redo2: "\e969";
$gould-forward: "\e96a";
$gould-reply: "\e96b";
$gould-bubble: "\e96c";
$gould-bubbles: "\e96d";
$gould-bubbles2: "\e96e";
$gould-bubble2: "\e96f";
$gould-bubbles3: "\e970";
$gould-bubbles4: "\e971";
$gould-user: "\e972";
$gould-users: "\e973";
$gould-user-plus: "\e974";
$gould-user-minus: "\e975";
$gould-user-check: "\e976";
$gould-user-tie: "\e977";
$gould-quotes-left: "\e978";
$gould-quotes-right: "\e979";
$gould-hour-glass: "\e97a";
$gould-spinner: "\e97b";
$gould-spinner2: "\e97c";
$gould-spinner3: "\e97d";
$gould-spinner4: "\e97e";
$gould-spinner5: "\e97f";
$gould-spinner6: "\e980";
$gould-spinner7: "\e981";
$gould-spinner8: "\e982";
$gould-spinner9: "\e983";
$gould-spinner10: "\e984";
$gould-spinner11: "\e985";
$gould-binoculars: "\e986";
$gould-search: "\e987";
$gould-zoom-in: "\e988";
$gould-zoom-out: "\e989";
$gould-enlarge: "\e98a";
$gould-shrink: "\e98b";
$gould-enlarge2: "\e98c";
$gould-shrink2: "\e98d";
$gould-key: "\e98e";
$gould-key2: "\e98f";
$gould-lock: "\e990";
$gould-unlocked: "\e991";
$gould-wrench: "\e992";
$gould-equalizer: "\e993";
$gould-equalizer2: "\e994";
$gould-cog: "\e995";
$gould-cogs: "\e996";
$gould-hammer: "\e997";
$gould-magic-wand: "\e998";
$gould-aid-kit: "\e999";
$gould-bug: "\e99a";
$gould-pie-chart: "\e99b";
$gould-stats-dots: "\e99c";
$gould-stats-bars: "\e99d";
$gould-stats-bars2: "\e99e";
$gould-trophy: "\e99f";
$gould-gift: "\e9a0";
$gould-glass: "\e9a1";
$gould-glass2: "\e9a2";
$gould-mug: "\e9a3";
$gould-spoon-knife: "\e9a4";
$gould-leaf: "\e9a5";
$gould-rocket: "\e9a6";
$gould-meter: "\e9a7";
$gould-meter2: "\e9a8";
$gould-hammer2: "\e9a9";
$gould-fire: "\e9aa";
$gould-lab: "\e9ab";
$gould-magnet: "\e9ac";
$gould-bin: "\e9ad";
$gould-bin2: "\e9ae";
$gould-briefcase: "\e9af";
$gould-airplane: "\e9b0";
$gould-truck: "\e9b1";
$gould-road: "\e9b2";
$gould-accessibility: "\e9b3";
$gould-target: "\e9b4";
$gould-shield: "\e9b5";
$gould-power: "\e9b6";
$gould-switch: "\e9b7";
$gould-power-cord: "\e9b8";
$gould-clipboard: "\e9b9";
$gould-list-numbered: "\e9ba";
$gould-list: "\e9bb";
$gould-list2: "\e9bc";
$gould-tree: "\e9bd";
$gould-menu: "\e9be";
$gould-menu2: "\e9bf";
$gould-menu3: "\e9c0";
$gould-menu4: "\e9c1";
$gould-cloud: "\e9c2";
$gould-cloud-download: "\e9c3";
$gould-cloud-upload: "\e9c4";
$gould-cloud-check: "\e9c5";
$gould-download2: "\e9c6";
$gould-upload2: "\e9c7";
$gould-download3: "\e9c8";
$gould-upload3: "\e9c9";
$gould-sphere: "\e9ca";
$gould-earth: "\e9cb";
$gould-link: "\e9cc";
$gould-flag: "\e9cd";
$gould-attachment: "\e9ce";
$gould-eye: "\e9cf";
$gould-eye-plus: "\e9d0";
$gould-eye-minus: "\e9d1";
$gould-eye-blocked: "\e9d2";
$gould-bookmark: "\e9d3";
$gould-bookmarks: "\e9d4";
$gould-sun: "\e9d5";
$gould-contrast: "\e9d6";
$gould-brightness-contrast: "\e9d7";
$gould-star-empty: "\e9d8";
$gould-star-half: "\e9d9";
$gould-star-full: "\e9da";
$gould-heart: "\e9db";
$gould-heart-broken: "\e9dc";
$gould-man: "\e9dd";
$gould-woman: "\e9de";
$gould-man-woman: "\e9df";
$gould-happy: "\e9e0";
$gould-happy2: "\e9e1";
$gould-smile: "\e9e2";
$gould-smile2: "\e9e3";
$gould-tongue: "\e9e4";
$gould-tongue2: "\e9e5";
$gould-sad: "\e9e6";
$gould-sad2: "\e9e7";
$gould-wink: "\e9e8";
$gould-wink2: "\e9e9";
$gould-grin: "\e9ea";
$gould-grin2: "\e9eb";
$gould-cool: "\e9ec";
$gould-cool2: "\e9ed";
$gould-angry: "\e9ee";
$gould-angry2: "\e9ef";
$gould-evil: "\e9f0";
$gould-evil2: "\e9f1";
$gould-shocked: "\e9f2";
$gould-shocked2: "\e9f3";
$gould-baffled: "\e9f4";
$gould-baffled2: "\e9f5";
$gould-confused: "\e9f6";
$gould-confused2: "\e9f7";
$gould-neutral: "\e9f8";
$gould-neutral2: "\e9f9";
$gould-hipster: "\e9fa";
$gould-hipster2: "\e9fb";
$gould-wondering: "\e9fc";
$gould-wondering2: "\e9fd";
$gould-sleepy: "\e9fe";
$gould-sleepy2: "\e9ff";
$gould-frustrated: "\ea00";
$gould-frustrated2: "\ea01";
$gould-crying: "\ea02";
$gould-crying2: "\ea03";
$gould-point-up: "\ea04";
$gould-point-right: "\ea05";
$gould-point-down: "\ea06";
$gould-point-left: "\ea07";
$gould-warning: "\ea08";
$gould-notification: "\ea09";
$gould-question: "\ea0a";
$gould-plus: "\ea0b";
$gould-minus: "\ea0c";
$gould-info: "\ea0d";
$gould-cancel-circle: "\ea0e";
$gould-blocked: "\ea0f";
$gould-cross: "\ea10";
$gould-checkmark: "\ea11";
$gould-checkmark2: "\ea12";
$gould-spell-check: "\ea13";
$gould-enter: "\ea14";
$gould-exit: "\ea15";
$gould-play2: "\ea16";
$gould-pause: "\ea17";
$gould-stop: "\ea18";
$gould-previous: "\ea19";
$gould-next: "\ea1a";
$gould-backward: "\ea1b";
$gould-forward2: "\ea1c";
$gould-play3: "\ea1d";
$gould-pause2: "\ea1e";
$gould-stop2: "\ea1f";
$gould-backward2: "\ea20";
$gould-forward3: "\ea21";
$gould-first: "\ea22";
$gould-last: "\ea23";
$gould-previous2: "\ea24";
$gould-next2: "\ea25";
$gould-eject: "\ea26";
$gould-volume-high: "\ea27";
$gould-volume-medium: "\ea28";
$gould-volume-low: "\ea29";
$gould-volume-mute: "\ea2a";
$gould-volume-mute2: "\ea2b";
$gould-volume-increase: "\ea2c";
$gould-volume-decrease: "\ea2d";
$gould-loop: "\ea2e";
$gould-loop2: "\ea2f";
$gould-infinite: "\ea30";
$gould-shuffle: "\ea31";
$gould-arrow-up-left: "\ea32";
$gould-arrow-up: "\ea33";
$gould-arrow-up-right: "\ea34";
$gould-arrow-right: "\ea35";
$gould-arrow-down-right: "\ea36";
$gould-arrow-down: "\ea37";
$gould-arrow-down-left: "\ea38";
$gould-arrow-left: "\ea39";
$gould-arrow-up-left2: "\ea3a";
$gould-arrow-up2: "\ea3b";
$gould-arrow-up-right2: "\ea3c";
$gould-arrow-right2: "\ea3d";
$gould-arrow-down-right2: "\ea3e";
$gould-arrow-down2: "\ea3f";
$gould-arrow-down-left2: "\ea40";
$gould-arrow-left2: "\ea41";
$gould-circle-up: "\ea42";
$gould-circle-right: "\ea43";
$gould-circle-down: "\ea44";
$gould-circle-left: "\ea45";
$gould-tab: "\ea46";
$gould-move-up: "\ea47";
$gould-move-down: "\ea48";
$gould-sort-alpha-asc: "\ea49";
$gould-sort-alpha-desc: "\ea4a";
$gould-sort-numeric-asc: "\ea4b";
$gould-sort-numberic-desc: "\ea4c";
$gould-sort-amount-asc: "\ea4d";
$gould-sort-amount-desc: "\ea4e";
$gould-command: "\ea4f";
$gould-shift: "\ea50";
$gould-ctrl: "\ea51";
$gould-opt: "\ea52";
$gould-checkbox-checked: "\ea53";
$gould-checkbox-unchecked: "\ea54";
$gould-radio-checked: "\ea55";
$gould-radio-checked2: "\ea56";
$gould-radio-unchecked: "\ea57";
$gould-crop: "\ea58";
$gould-make-group: "\ea59";
$gould-ungroup: "\ea5a";
$gould-scissors: "\ea5b";
$gould-filter: "\ea5c";
$gould-font: "\ea5d";
$gould-ligature: "\ea5e";
$gould-ligature2: "\ea5f";
$gould-text-height: "\ea60";
$gould-text-width: "\ea61";
$gould-font-size: "\ea62";
$gould-bold: "\ea63";
$gould-underline: "\ea64";
$gould-italic: "\ea65";
$gould-strikethrough: "\ea66";
$gould-omega: "\ea67";
$gould-sigma: "\ea68";
$gould-page-break: "\ea69";
$gould-superscript: "\ea6a";
$gould-subscript: "\ea6b";
$gould-superscript2: "\ea6c";
$gould-subscript2: "\ea6d";
$gould-text-color: "\ea6e";
$gould-pagebreak: "\ea6f";
$gould-clear-formatting: "\ea70";
$gould-table: "\ea71";
$gould-table2: "\ea72";
$gould-insert-template: "\ea73";
$gould-pilcrow: "\ea74";
$gould-ltr: "\ea75";
$gould-rtl: "\ea76";
$gould-section: "\ea77";
$gould-paragraph-left: "\ea78";
$gould-paragraph-center: "\ea79";
$gould-paragraph-right: "\ea7a";
$gould-paragraph-justify: "\ea7b";
$gould-indent-increase: "\ea7c";
$gould-indent-decrease: "\ea7d";
$gould-share: "\ea7e";
$gould-new-tab: "\ea7f";
$gould-embed: "\ea80";
$gould-embed2: "\ea81";
$gould-terminal: "\ea82";
$gould-share2: "\ea83";
$gould-mail: "\ea84";
$gould-mail2: "\ea85";
$gould-mail3: "\ea86";
$gould-mail4: "\ea87";
$gould-amazon: "\ea88";
$gould-google: "\ea89";
$gould-google2: "\ea8a";
$gould-google3: "\ea8b";
$gould-google-plus: "\ea8c";
$gould-google-plus2: "\ea8d";
$gould-google-plus3: "\ea8e";
$gould-hangouts: "\ea8f";
$gould-google-drive: "\ea90";
$gould-facebook: "\ea91";
$gould-facebook2: "\ea92";
$gould-instagram: "\ea93";
$gould-whatsapp: "\ea94";
$gould-spotify: "\ea95";
$gould-telegram: "\ea96";
$gould-twitter: "\ea97";
$gould-vine: "\ea98";
$gould-vk: "\ea99";
$gould-renren: "\ea9a";
$gould-sina-weibo: "\ea9b";
$gould-rss: "\ea9c";
$gould-rss2: "\ea9d";
$gould-youtube: "\ea9e";
$gould-youtube2: "\ea9f";
$gould-twitch: "\eaa0";
$gould-vimeo: "\eaa1";
$gould-vimeo2: "\eaa2";
$gould-lanyrd: "\eaa3";
$gould-flickr: "\eaa4";
$gould-flickr2: "\eaa5";
$gould-flickr3: "\eaa6";
$gould-flickr4: "\eaa7";
$gould-dribbble: "\eaa8";
$gould-behance: "\eaa9";
$gould-behance2: "\eaaa";
$gould-deviantart: "\eaab";
$gould-500px: "\eaac";
$gould-steam: "\eaad";
$gould-steam2: "\eaae";
$gould-dropbox: "\eaaf";
$gould-onedrive: "\eab0";
$gould-github: "\eab1";
$gould-npm: "\eab2";
$gould-basecamp: "\eab3";
$gould-trello: "\eab4";
$gould-wordpress: "\eab5";
$gould-joomla: "\eab6";
$gould-ello: "\eab7";
$gould-blogger: "\eab8";
$gould-blogger2: "\eab9";
$gould-tumblr: "\eaba";
$gould-tumblr2: "\eabb";
$gould-yahoo: "\eabc";
$gould-yahoo2: "\eabd";
$gould-tux: "\eabe";
$gould-appleinc: "\eabf";
$gould-finder: "\eac0";
$gould-android: "\eac1";
$gould-windows: "\eac2";
$gould-windows8: "\eac3";
$gould-soundcloud: "\eac4";
$gould-soundcloud2: "\eac5";
$gould-skype: "\eac6";
$gould-reddit: "\eac7";
$gould-hackernews: "\eac8";
$gould-wikipedia: "\eac9";
$gould-linkedin: "\eaca";
$gould-linkedin2: "\eacb";
$gould-lastfm: "\eacc";
$gould-lastfm2: "\eacd";
$gould-delicious: "\eace";
$gould-stumbleupon: "\eacf";
$gould-stumbleupon2: "\ead0";
$gould-stackoverflow: "\ead1";
$gould-pinterest: "\ead2";
$gould-pinterest2: "\ead3";
$gould-xing: "\ead4";
$gould-xing2: "\ead5";
$gould-flattr: "\ead6";
$gould-foursquare: "\ead7";
$gould-yelp: "\ead8";
$gould-paypal: "\ead9";
$gould-chrome: "\eada";
$gould-firefox: "\eadb";
$gould-IE: "\eadc";
$gould-edge: "\eadd";
$gould-safari: "\eade";
$gould-opera: "\eadf";
$gould-file-pdf: "\eae0";
$gould-file-openoffice: "\eae1";
$gould-file-word: "\eae2";
$gould-file-excel: "\eae3";
$gould-libreoffice: "\eae4";
$gould-html-five: "\eae5";
$gould-html-five2: "\eae6";
$gould-css3: "\eae7";
$gould-git: "\eae8";
$gould-codepen: "\eae9";
$gould-svg: "\eaea";
$gould-IcoMoon: "\eaeb";

