/*
 *AUTHOR: Abdulkadir Mohammed @ Inject
 *DATE: Wed 29 November 2023
  *
 *This is a custom css for gould wallet. 
 */
/*****************************
 *********** HEAD ***********
 *****************************/
.terms-Jumbotron {
    background-color: #FAE9CE;
    height: 300px;
    padding-top: 60px;
}

.version {
    background-color: #F7C132;
    width: 100px;
    margin-right: -5px;
}

.version-number {
    background-color: #F9D77E;
}

a {
    color: #7B5800 !important;
}

/*****************************
  *********** BODY ***********
 *****************************/

/*****************************
 *********** FOOTER ***********
*****************************/