/*
 *AUTHOR: Abdulkadir Mohammed @ Inject
 *DATE: Wed 29 November 2023
  *
 *This is a custom css for gould wallet. 
 */
/*****************************
 *********** HEAD ***********
 *****************************/
.terms-content {
    background-color: #FAE9CE;
    padding: 16px 0px 16px 0px;
    height: 500px;
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
    display: block;
    box-sizing: border-box;
}

.version {
    background-color: #F7C132;
    width: 100px;
}

.version-number {
    background-color: #F9D77E;
    padding-left: 5px;
}


/*****************************
  *********** BODY ***********
 *****************************/

/*****************************
 *********** FOOTER ***********
*****************************/