@font-face {
  font-family: 'gouldwallet';
  src:  url('fonts/gouldwallet.eot?jzimlz');
  src:  url('fonts/gouldwallet.eot?jzimlz#iefix') format('embedded-opentype'),
    url('fonts/gouldwallet.ttf?jzimlz') format('truetype'),
    url('fonts/gouldwallet.woff?jzimlz') format('woff'),
    url('fonts/gouldwallet.svg?jzimlz#gouldwallet') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="gould-"], [class*=" gould-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'gouldwallet' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.gould-gouldWallet:before {
  content: "\e900";
}
.gould-home:before {
  content: "\e901";
}
.gould-home2:before {
  content: "\e902";
}
.gould-home3:before {
  content: "\e903";
}
.gould-office:before {
  content: "\e904";
}
.gould-newspaper:before {
  content: "\e905";
}
.gould-pencil:before {
  content: "\e906";
}
.gould-pencil2:before {
  content: "\e907";
}
.gould-quill:before {
  content: "\e908";
}
.gould-pen:before {
  content: "\e909";
}
.gould-blog:before {
  content: "\e90a";
}
.gould-eyedropper:before {
  content: "\e90b";
}
.gould-droplet:before {
  content: "\e90c";
}
.gould-paint-format:before {
  content: "\e90d";
}
.gould-image:before {
  content: "\e90e";
}
.gould-images:before {
  content: "\e90f";
}
.gould-camera:before {
  content: "\e910";
}
.gould-headphones:before {
  content: "\e911";
}
.gould-music:before {
  content: "\e912";
}
.gould-play:before {
  content: "\e913";
}
.gould-film:before {
  content: "\e914";
}
.gould-video-camera:before {
  content: "\e915";
}
.gould-dice:before {
  content: "\e916";
}
.gould-pacman:before {
  content: "\e917";
}
.gould-spades:before {
  content: "\e918";
}
.gould-clubs:before {
  content: "\e919";
}
.gould-diamonds:before {
  content: "\e91a";
}
.gould-bullhorn:before {
  content: "\e91b";
}
.gould-connection:before {
  content: "\e91c";
}
.gould-podcast:before {
  content: "\e91d";
}
.gould-feed:before {
  content: "\e91e";
}
.gould-mic:before {
  content: "\e91f";
}
.gould-book:before {
  content: "\e920";
}
.gould-books:before {
  content: "\e921";
}
.gould-library:before {
  content: "\e922";
}
.gould-file-text:before {
  content: "\e923";
}
.gould-profile:before {
  content: "\e924";
}
.gould-file-empty:before {
  content: "\e925";
}
.gould-files-empty:before {
  content: "\e926";
}
.gould-file-text2:before {
  content: "\e927";
}
.gould-file-picture:before {
  content: "\e928";
}
.gould-file-music:before {
  content: "\e929";
}
.gould-file-play:before {
  content: "\e92a";
}
.gould-file-video:before {
  content: "\e92b";
}
.gould-file-zip:before {
  content: "\e92c";
}
.gould-copy:before {
  content: "\e92d";
}
.gould-paste:before {
  content: "\e92e";
}
.gould-stack:before {
  content: "\e92f";
}
.gould-folder:before {
  content: "\e930";
}
.gould-folder-open:before {
  content: "\e931";
}
.gould-folder-plus:before {
  content: "\e932";
}
.gould-folder-minus:before {
  content: "\e933";
}
.gould-folder-download:before {
  content: "\e934";
}
.gould-folder-upload:before {
  content: "\e935";
}
.gould-price-tag:before {
  content: "\e936";
}
.gould-price-tags:before {
  content: "\e937";
}
.gould-barcode:before {
  content: "\e938";
}
.gould-qrcode:before {
  content: "\e939";
}
.gould-ticket:before {
  content: "\e93a";
}
.gould-cart:before {
  content: "\e93b";
}
.gould-coin-dollar:before {
  content: "\e93c";
}
.gould-coin-euro:before {
  content: "\e93d";
}
.gould-coin-pound:before {
  content: "\e93e";
}
.gould-coin-yen:before {
  content: "\e93f";
}
.gould-credit-card:before {
  content: "\e940";
}
.gould-calculator:before {
  content: "\e941";
}
.gould-lifebuoy:before {
  content: "\e942";
}
.gould-phone:before {
  content: "\e943";
}
.gould-phone-hang-up:before {
  content: "\e944";
}
.gould-address-book:before {
  content: "\e945";
}
.gould-envelop:before {
  content: "\e946";
}
.gould-pushpin:before {
  content: "\e947";
}
.gould-location:before {
  content: "\e948";
}
.gould-location2:before {
  content: "\e949";
}
.gould-compass:before {
  content: "\e94a";
}
.gould-compass2:before {
  content: "\e94b";
}
.gould-map:before {
  content: "\e94c";
}
.gould-map2:before {
  content: "\e94d";
}
.gould-history:before {
  content: "\e94e";
}
.gould-clock:before {
  content: "\e94f";
}
.gould-clock2:before {
  content: "\e950";
}
.gould-alarm:before {
  content: "\e951";
}
.gould-bell:before {
  content: "\e952";
}
.gould-stopwatch:before {
  content: "\e953";
}
.gould-calendar:before {
  content: "\e954";
}
.gould-printer:before {
  content: "\e955";
}
.gould-keyboard:before {
  content: "\e956";
}
.gould-display:before {
  content: "\e957";
}
.gould-laptop:before {
  content: "\e958";
}
.gould-mobile:before {
  content: "\e959";
}
.gould-mobile2:before {
  content: "\e95a";
}
.gould-tablet:before {
  content: "\e95b";
}
.gould-tv:before {
  content: "\e95c";
}
.gould-drawer:before {
  content: "\e95d";
}
.gould-drawer2:before {
  content: "\e95e";
}
.gould-box-add:before {
  content: "\e95f";
}
.gould-box-remove:before {
  content: "\e960";
}
.gould-download:before {
  content: "\e961";
}
.gould-upload:before {
  content: "\e962";
}
.gould-floppy-disk:before {
  content: "\e963";
}
.gould-drive:before {
  content: "\e964";
}
.gould-database:before {
  content: "\e965";
}
.gould-undo:before {
  content: "\e966";
}
.gould-redo:before {
  content: "\e967";
}
.gould-undo2:before {
  content: "\e968";
}
.gould-redo2:before {
  content: "\e969";
}
.gould-forward:before {
  content: "\e96a";
}
.gould-reply:before {
  content: "\e96b";
}
.gould-bubble:before {
  content: "\e96c";
}
.gould-bubbles:before {
  content: "\e96d";
}
.gould-bubbles2:before {
  content: "\e96e";
}
.gould-bubble2:before {
  content: "\e96f";
}
.gould-bubbles3:before {
  content: "\e970";
}
.gould-bubbles4:before {
  content: "\e971";
}
.gould-user:before {
  content: "\e972";
}
.gould-users:before {
  content: "\e973";
}
.gould-user-plus:before {
  content: "\e974";
}
.gould-user-minus:before {
  content: "\e975";
}
.gould-user-check:before {
  content: "\e976";
}
.gould-user-tie:before {
  content: "\e977";
}
.gould-quotes-left:before {
  content: "\e978";
}
.gould-quotes-right:before {
  content: "\e979";
}
.gould-hour-glass:before {
  content: "\e97a";
}
.gould-spinner:before {
  content: "\e97b";
}
.gould-spinner2:before {
  content: "\e97c";
}
.gould-spinner3:before {
  content: "\e97d";
}
.gould-spinner4:before {
  content: "\e97e";
}
.gould-spinner5:before {
  content: "\e97f";
}
.gould-spinner6:before {
  content: "\e980";
}
.gould-spinner7:before {
  content: "\e981";
}
.gould-spinner8:before {
  content: "\e982";
}
.gould-spinner9:before {
  content: "\e983";
}
.gould-spinner10:before {
  content: "\e984";
}
.gould-spinner11:before {
  content: "\e985";
}
.gould-binoculars:before {
  content: "\e986";
}
.gould-search:before {
  content: "\e987";
}
.gould-zoom-in:before {
  content: "\e988";
}
.gould-zoom-out:before {
  content: "\e989";
}
.gould-enlarge:before {
  content: "\e98a";
}
.gould-shrink:before {
  content: "\e98b";
}
.gould-enlarge2:before {
  content: "\e98c";
}
.gould-shrink2:before {
  content: "\e98d";
}
.gould-key:before {
  content: "\e98e";
}
.gould-key2:before {
  content: "\e98f";
}
.gould-lock:before {
  content: "\e990";
}
.gould-unlocked:before {
  content: "\e991";
}
.gould-wrench:before {
  content: "\e992";
}
.gould-equalizer:before {
  content: "\e993";
}
.gould-equalizer2:before {
  content: "\e994";
}
.gould-cog:before {
  content: "\e995";
}
.gould-cogs:before {
  content: "\e996";
}
.gould-hammer:before {
  content: "\e997";
}
.gould-magic-wand:before {
  content: "\e998";
}
.gould-aid-kit:before {
  content: "\e999";
}
.gould-bug:before {
  content: "\e99a";
}
.gould-pie-chart:before {
  content: "\e99b";
}
.gould-stats-dots:before {
  content: "\e99c";
}
.gould-stats-bars:before {
  content: "\e99d";
}
.gould-stats-bars2:before {
  content: "\e99e";
}
.gould-trophy:before {
  content: "\e99f";
}
.gould-gift:before {
  content: "\e9a0";
}
.gould-glass:before {
  content: "\e9a1";
}
.gould-glass2:before {
  content: "\e9a2";
}
.gould-mug:before {
  content: "\e9a3";
}
.gould-spoon-knife:before {
  content: "\e9a4";
}
.gould-leaf:before {
  content: "\e9a5";
}
.gould-rocket:before {
  content: "\e9a6";
}
.gould-meter:before {
  content: "\e9a7";
}
.gould-meter2:before {
  content: "\e9a8";
}
.gould-hammer2:before {
  content: "\e9a9";
}
.gould-fire:before {
  content: "\e9aa";
}
.gould-lab:before {
  content: "\e9ab";
}
.gould-magnet:before {
  content: "\e9ac";
}
.gould-bin:before {
  content: "\e9ad";
}
.gould-bin2:before {
  content: "\e9ae";
}
.gould-briefcase:before {
  content: "\e9af";
}
.gould-airplane:before {
  content: "\e9b0";
}
.gould-truck:before {
  content: "\e9b1";
}
.gould-road:before {
  content: "\e9b2";
}
.gould-accessibility:before {
  content: "\e9b3";
}
.gould-target:before {
  content: "\e9b4";
}
.gould-shield:before {
  content: "\e9b5";
}
.gould-power:before {
  content: "\e9b6";
}
.gould-switch:before {
  content: "\e9b7";
}
.gould-power-cord:before {
  content: "\e9b8";
}
.gould-clipboard:before {
  content: "\e9b9";
}
.gould-list-numbered:before {
  content: "\e9ba";
}
.gould-list:before {
  content: "\e9bb";
}
.gould-list2:before {
  content: "\e9bc";
}
.gould-tree:before {
  content: "\e9bd";
}
.gould-menu:before {
  content: "\e9be";
}
.gould-menu2:before {
  content: "\e9bf";
}
.gould-menu3:before {
  content: "\e9c0";
}
.gould-menu4:before {
  content: "\e9c1";
}
.gould-cloud:before {
  content: "\e9c2";
}
.gould-cloud-download:before {
  content: "\e9c3";
}
.gould-cloud-upload:before {
  content: "\e9c4";
}
.gould-cloud-check:before {
  content: "\e9c5";
}
.gould-download2:before {
  content: "\e9c6";
}
.gould-upload2:before {
  content: "\e9c7";
}
.gould-download3:before {
  content: "\e9c8";
}
.gould-upload3:before {
  content: "\e9c9";
}
.gould-sphere:before {
  content: "\e9ca";
}
.gould-earth:before {
  content: "\e9cb";
}
.gould-link:before {
  content: "\e9cc";
}
.gould-flag:before {
  content: "\e9cd";
}
.gould-attachment:before {
  content: "\e9ce";
}
.gould-eye:before {
  content: "\e9cf";
}
.gould-eye-plus:before {
  content: "\e9d0";
}
.gould-eye-minus:before {
  content: "\e9d1";
}
.gould-eye-blocked:before {
  content: "\e9d2";
}
.gould-bookmark:before {
  content: "\e9d3";
}
.gould-bookmarks:before {
  content: "\e9d4";
}
.gould-sun:before {
  content: "\e9d5";
}
.gould-contrast:before {
  content: "\e9d6";
}
.gould-brightness-contrast:before {
  content: "\e9d7";
}
.gould-star-empty:before {
  content: "\e9d8";
}
.gould-star-half:before {
  content: "\e9d9";
}
.gould-star-full:before {
  content: "\e9da";
}
.gould-heart:before {
  content: "\e9db";
}
.gould-heart-broken:before {
  content: "\e9dc";
}
.gould-man:before {
  content: "\e9dd";
}
.gould-woman:before {
  content: "\e9de";
}
.gould-man-woman:before {
  content: "\e9df";
}
.gould-happy:before {
  content: "\e9e0";
}
.gould-happy2:before {
  content: "\e9e1";
}
.gould-smile:before {
  content: "\e9e2";
}
.gould-smile2:before {
  content: "\e9e3";
}
.gould-tongue:before {
  content: "\e9e4";
}
.gould-tongue2:before {
  content: "\e9e5";
}
.gould-sad:before {
  content: "\e9e6";
}
.gould-sad2:before {
  content: "\e9e7";
}
.gould-wink:before {
  content: "\e9e8";
}
.gould-wink2:before {
  content: "\e9e9";
}
.gould-grin:before {
  content: "\e9ea";
}
.gould-grin2:before {
  content: "\e9eb";
}
.gould-cool:before {
  content: "\e9ec";
}
.gould-cool2:before {
  content: "\e9ed";
}
.gould-angry:before {
  content: "\e9ee";
}
.gould-angry2:before {
  content: "\e9ef";
}
.gould-evil:before {
  content: "\e9f0";
}
.gould-evil2:before {
  content: "\e9f1";
}
.gould-shocked:before {
  content: "\e9f2";
}
.gould-shocked2:before {
  content: "\e9f3";
}
.gould-baffled:before {
  content: "\e9f4";
}
.gould-baffled2:before {
  content: "\e9f5";
}
.gould-confused:before {
  content: "\e9f6";
}
.gould-confused2:before {
  content: "\e9f7";
}
.gould-neutral:before {
  content: "\e9f8";
}
.gould-neutral2:before {
  content: "\e9f9";
}
.gould-hipster:before {
  content: "\e9fa";
}
.gould-hipster2:before {
  content: "\e9fb";
}
.gould-wondering:before {
  content: "\e9fc";
}
.gould-wondering2:before {
  content: "\e9fd";
}
.gould-sleepy:before {
  content: "\e9fe";
}
.gould-sleepy2:before {
  content: "\e9ff";
}
.gould-frustrated:before {
  content: "\ea00";
}
.gould-frustrated2:before {
  content: "\ea01";
}
.gould-crying:before {
  content: "\ea02";
}
.gould-crying2:before {
  content: "\ea03";
}
.gould-point-up:before {
  content: "\ea04";
}
.gould-point-right:before {
  content: "\ea05";
}
.gould-point-down:before {
  content: "\ea06";
}
.gould-point-left:before {
  content: "\ea07";
}
.gould-warning:before {
  content: "\ea08";
}
.gould-notification:before {
  content: "\ea09";
}
.gould-question:before {
  content: "\ea0a";
}
.gould-plus:before {
  content: "\ea0b";
}
.gould-minus:before {
  content: "\ea0c";
}
.gould-info:before {
  content: "\ea0d";
}
.gould-cancel-circle:before {
  content: "\ea0e";
}
.gould-blocked:before {
  content: "\ea0f";
}
.gould-cross:before {
  content: "\ea10";
}
.gould-checkmark:before {
  content: "\ea11";
}
.gould-checkmark2:before {
  content: "\ea12";
}
.gould-spell-check:before {
  content: "\ea13";
}
.gould-enter:before {
  content: "\ea14";
}
.gould-exit:before {
  content: "\ea15";
}
.gould-play2:before {
  content: "\ea16";
}
.gould-pause:before {
  content: "\ea17";
}
.gould-stop:before {
  content: "\ea18";
}
.gould-previous:before {
  content: "\ea19";
}
.gould-next:before {
  content: "\ea1a";
}
.gould-backward:before {
  content: "\ea1b";
}
.gould-forward2:before {
  content: "\ea1c";
}
.gould-play3:before {
  content: "\ea1d";
}
.gould-pause2:before {
  content: "\ea1e";
}
.gould-stop2:before {
  content: "\ea1f";
}
.gould-backward2:before {
  content: "\ea20";
}
.gould-forward3:before {
  content: "\ea21";
}
.gould-first:before {
  content: "\ea22";
}
.gould-last:before {
  content: "\ea23";
}
.gould-previous2:before {
  content: "\ea24";
}
.gould-next2:before {
  content: "\ea25";
}
.gould-eject:before {
  content: "\ea26";
}
.gould-volume-high:before {
  content: "\ea27";
}
.gould-volume-medium:before {
  content: "\ea28";
}
.gould-volume-low:before {
  content: "\ea29";
}
.gould-volume-mute:before {
  content: "\ea2a";
}
.gould-volume-mute2:before {
  content: "\ea2b";
}
.gould-volume-increase:before {
  content: "\ea2c";
}
.gould-volume-decrease:before {
  content: "\ea2d";
}
.gould-loop:before {
  content: "\ea2e";
}
.gould-loop2:before {
  content: "\ea2f";
}
.gould-infinite:before {
  content: "\ea30";
}
.gould-shuffle:before {
  content: "\ea31";
}
.gould-arrow-up-left:before {
  content: "\ea32";
}
.gould-arrow-up:before {
  content: "\ea33";
}
.gould-arrow-up-right:before {
  content: "\ea34";
}
.gould-arrow-right:before {
  content: "\ea35";
}
.gould-arrow-down-right:before {
  content: "\ea36";
}
.gould-arrow-down:before {
  content: "\ea37";
}
.gould-arrow-down-left:before {
  content: "\ea38";
}
.gould-arrow-left:before {
  content: "\ea39";
}
.gould-arrow-up-left2:before {
  content: "\ea3a";
}
.gould-arrow-up2:before {
  content: "\ea3b";
}
.gould-arrow-up-right2:before {
  content: "\ea3c";
}
.gould-arrow-right2:before {
  content: "\ea3d";
}
.gould-arrow-down-right2:before {
  content: "\ea3e";
}
.gould-arrow-down2:before {
  content: "\ea3f";
}
.gould-arrow-down-left2:before {
  content: "\ea40";
}
.gould-arrow-left2:before {
  content: "\ea41";
}
.gould-circle-up:before {
  content: "\ea42";
}
.gould-circle-right:before {
  content: "\ea43";
}
.gould-circle-down:before {
  content: "\ea44";
}
.gould-circle-left:before {
  content: "\ea45";
}
.gould-tab:before {
  content: "\ea46";
}
.gould-move-up:before {
  content: "\ea47";
}
.gould-move-down:before {
  content: "\ea48";
}
.gould-sort-alpha-asc:before {
  content: "\ea49";
}
.gould-sort-alpha-desc:before {
  content: "\ea4a";
}
.gould-sort-numeric-asc:before {
  content: "\ea4b";
}
.gould-sort-numberic-desc:before {
  content: "\ea4c";
}
.gould-sort-amount-asc:before {
  content: "\ea4d";
}
.gould-sort-amount-desc:before {
  content: "\ea4e";
}
.gould-command:before {
  content: "\ea4f";
}
.gould-shift:before {
  content: "\ea50";
}
.gould-ctrl:before {
  content: "\ea51";
}
.gould-opt:before {
  content: "\ea52";
}
.gould-checkbox-checked:before {
  content: "\ea53";
}
.gould-checkbox-unchecked:before {
  content: "\ea54";
}
.gould-radio-checked:before {
  content: "\ea55";
}
.gould-radio-checked2:before {
  content: "\ea56";
}
.gould-radio-unchecked:before {
  content: "\ea57";
}
.gould-crop:before {
  content: "\ea58";
}
.gould-make-group:before {
  content: "\ea59";
}
.gould-ungroup:before {
  content: "\ea5a";
}
.gould-scissors:before {
  content: "\ea5b";
}
.gould-filter:before {
  content: "\ea5c";
}
.gould-font:before {
  content: "\ea5d";
}
.gould-ligature:before {
  content: "\ea5e";
}
.gould-ligature2:before {
  content: "\ea5f";
}
.gould-text-height:before {
  content: "\ea60";
}
.gould-text-width:before {
  content: "\ea61";
}
.gould-font-size:before {
  content: "\ea62";
}
.gould-bold:before {
  content: "\ea63";
}
.gould-underline:before {
  content: "\ea64";
}
.gould-italic:before {
  content: "\ea65";
}
.gould-strikethrough:before {
  content: "\ea66";
}
.gould-omega:before {
  content: "\ea67";
}
.gould-sigma:before {
  content: "\ea68";
}
.gould-page-break:before {
  content: "\ea69";
}
.gould-superscript:before {
  content: "\ea6a";
}
.gould-subscript:before {
  content: "\ea6b";
}
.gould-superscript2:before {
  content: "\ea6c";
}
.gould-subscript2:before {
  content: "\ea6d";
}
.gould-text-color:before {
  content: "\ea6e";
}
.gould-pagebreak:before {
  content: "\ea6f";
}
.gould-clear-formatting:before {
  content: "\ea70";
}
.gould-table:before {
  content: "\ea71";
}
.gould-table2:before {
  content: "\ea72";
}
.gould-insert-template:before {
  content: "\ea73";
}
.gould-pilcrow:before {
  content: "\ea74";
}
.gould-ltr:before {
  content: "\ea75";
}
.gould-rtl:before {
  content: "\ea76";
}
.gould-section:before {
  content: "\ea77";
}
.gould-paragraph-left:before {
  content: "\ea78";
}
.gould-paragraph-center:before {
  content: "\ea79";
}
.gould-paragraph-right:before {
  content: "\ea7a";
}
.gould-paragraph-justify:before {
  content: "\ea7b";
}
.gould-indent-increase:before {
  content: "\ea7c";
}
.gould-indent-decrease:before {
  content: "\ea7d";
}
.gould-share:before {
  content: "\ea7e";
}
.gould-new-tab:before {
  content: "\ea7f";
}
.gould-embed:before {
  content: "\ea80";
}
.gould-embed2:before {
  content: "\ea81";
}
.gould-terminal:before {
  content: "\ea82";
}
.gould-share2:before {
  content: "\ea83";
}
.gould-mail:before {
  content: "\ea84";
}
.gould-mail2:before {
  content: "\ea85";
}
.gould-mail3:before {
  content: "\ea86";
}
.gould-mail4:before {
  content: "\ea87";
}
.gould-amazon:before {
  content: "\ea88";
}
.gould-google:before {
  content: "\ea89";
}
.gould-google2:before {
  content: "\ea8a";
}
.gould-google3:before {
  content: "\ea8b";
}
.gould-google-plus:before {
  content: "\ea8c";
}
.gould-google-plus2:before {
  content: "\ea8d";
}
.gould-google-plus3:before {
  content: "\ea8e";
}
.gould-hangouts:before {
  content: "\ea8f";
}
.gould-google-drive:before {
  content: "\ea90";
}
.gould-facebook:before {
  content: "\ea91";
}
.gould-facebook2:before {
  content: "\ea92";
}
.gould-instagram:before {
  content: "\ea93";
}
.gould-whatsapp:before {
  content: "\ea94";
}
.gould-spotify:before {
  content: "\ea95";
}
.gould-telegram:before {
  content: "\ea96";
}
.gould-twitter:before {
  content: "\ea97";
}
.gould-vine:before {
  content: "\ea98";
}
.gould-vk:before {
  content: "\ea99";
}
.gould-renren:before {
  content: "\ea9a";
}
.gould-sina-weibo:before {
  content: "\ea9b";
}
.gould-rss:before {
  content: "\ea9c";
}
.gould-rss2:before {
  content: "\ea9d";
}
.gould-youtube:before {
  content: "\ea9e";
}
.gould-youtube2:before {
  content: "\ea9f";
}
.gould-twitch:before {
  content: "\eaa0";
}
.gould-vimeo:before {
  content: "\eaa1";
}
.gould-vimeo2:before {
  content: "\eaa2";
}
.gould-lanyrd:before {
  content: "\eaa3";
}
.gould-flickr:before {
  content: "\eaa4";
}
.gould-flickr2:before {
  content: "\eaa5";
}
.gould-flickr3:before {
  content: "\eaa6";
}
.gould-flickr4:before {
  content: "\eaa7";
}
.gould-dribbble:before {
  content: "\eaa8";
}
.gould-behance:before {
  content: "\eaa9";
}
.gould-behance2:before {
  content: "\eaaa";
}
.gould-deviantart:before {
  content: "\eaab";
}
.gould-500px:before {
  content: "\eaac";
}
.gould-steam:before {
  content: "\eaad";
}
.gould-steam2:before {
  content: "\eaae";
}
.gould-dropbox:before {
  content: "\eaaf";
}
.gould-onedrive:before {
  content: "\eab0";
}
.gould-github:before {
  content: "\eab1";
}
.gould-npm:before {
  content: "\eab2";
}
.gould-basecamp:before {
  content: "\eab3";
}
.gould-trello:before {
  content: "\eab4";
}
.gould-wordpress:before {
  content: "\eab5";
}
.gould-joomla:before {
  content: "\eab6";
}
.gould-ello:before {
  content: "\eab7";
}
.gould-blogger:before {
  content: "\eab8";
}
.gould-blogger2:before {
  content: "\eab9";
}
.gould-tumblr:before {
  content: "\eaba";
}
.gould-tumblr2:before {
  content: "\eabb";
}
.gould-yahoo:before {
  content: "\eabc";
}
.gould-yahoo2:before {
  content: "\eabd";
}
.gould-tux:before {
  content: "\eabe";
}
.gould-appleinc:before {
  content: "\eabf";
}
.gould-finder:before {
  content: "\eac0";
}
.gould-android:before {
  content: "\eac1";
}
.gould-windows:before {
  content: "\eac2";
}
.gould-windows8:before {
  content: "\eac3";
}
.gould-soundcloud:before {
  content: "\eac4";
}
.gould-soundcloud2:before {
  content: "\eac5";
}
.gould-skype:before {
  content: "\eac6";
}
.gould-reddit:before {
  content: "\eac7";
}
.gould-hackernews:before {
  content: "\eac8";
}
.gould-wikipedia:before {
  content: "\eac9";
}
.gould-linkedin:before {
  content: "\eaca";
}
.gould-linkedin2:before {
  content: "\eacb";
}
.gould-lastfm:before {
  content: "\eacc";
}
.gould-lastfm2:before {
  content: "\eacd";
}
.gould-delicious:before {
  content: "\eace";
}
.gould-stumbleupon:before {
  content: "\eacf";
}
.gould-stumbleupon2:before {
  content: "\ead0";
}
.gould-stackoverflow:before {
  content: "\ead1";
}
.gould-pinterest:before {
  content: "\ead2";
}
.gould-pinterest2:before {
  content: "\ead3";
}
.gould-xing:before {
  content: "\ead4";
}
.gould-xing2:before {
  content: "\ead5";
}
.gould-flattr:before {
  content: "\ead6";
}
.gould-foursquare:before {
  content: "\ead7";
}
.gould-yelp:before {
  content: "\ead8";
}
.gould-paypal:before {
  content: "\ead9";
}
.gould-chrome:before {
  content: "\eada";
}
.gould-firefox:before {
  content: "\eadb";
}
.gould-IE:before {
  content: "\eadc";
}
.gould-edge:before {
  content: "\eadd";
}
.gould-safari:before {
  content: "\eade";
}
.gould-opera:before {
  content: "\eadf";
}
.gould-file-pdf:before {
  content: "\eae0";
}
.gould-file-openoffice:before {
  content: "\eae1";
}
.gould-file-word:before {
  content: "\eae2";
}
.gould-file-excel:before {
  content: "\eae3";
}
.gould-libreoffice:before {
  content: "\eae4";
}
.gould-html-five:before {
  content: "\eae5";
}
.gould-html-five2:before {
  content: "\eae6";
}
.gould-css3:before {
  content: "\eae7";
}
.gould-git:before {
  content: "\eae8";
}
.gould-codepen:before {
  content: "\eae9";
}
.gould-svg:before {
  content: "\eaea";
}
.gould-IcoMoon:before {
  content: "\eaeb";
}
